main {
    background-image: url('../../static/images/mather_across_charles_crop.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#login_box {
    text-align: center;
    height: calc(100% - 25px);
    margin-top: 25px;
}

h3 {
    margin: 0;
}

.card-header, .card-footer {
    border: none;
}