label {
    font-size: 80%;
}

.file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.file-input {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 10;
}

.pattern {
    background: url('../../static/images/courtyard_leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-card {
    opacity: 0.9;
}

.preview .card {
    margin: 25%;
}