main {
    background: url("../../static/images/results.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.result-value {
    font-size: 300%;
}

.hide {
    display: none;
}