{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block extra_head %}
<link href="../static/css/styles.css" rel="stylesheet">
<link href="../static/css/search.css" rel="stylesheet">
<link href="../static/css/profile.css" rel="stylesheet">
<script src="../static/js/profile.js"></script>
{% endblock %}

{% block main %}
<div class="row pattern">
    <div class="col preview">
        <div class="card w-50 sticky-bottom">
            <div class="front">
                <img src="../static/images/{{ profile.img }}" class="card-img-top profile-img">
                <div class="card-body">
                    <h2 class="text-center"><span class="profile-first-name"></span> <span
                            class="profile-last-name"></span></h2>
                </div>
            </div>
            <div class="back text-white bg-primary">
                <div class="card-body">
                    <div class="card-title text-center">
                        <h2><span class="profile-first-name"></span> <span class="profile-last-name"></span></h2>
                        <a href="mailto:{{profile.email}}" class="profile-email text-white small">
                            {{ profile.email }}</a>
                    </div>
                    <div class="card-text">
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-calendar-alt"></i></span><span
                                    class="profile-year">{{ profile.year }}</span>
                            </li>
                            <li><span class="fa-li"><i class="fas fa-home"></i></span><span
                                    class="profile-entryway">{{ profile.entryway }}</span></li>
                            <li><span class="fa-li"><i class="fas fa-graduation-cap"></i></span><span
                                    class="profile-concentration">{{ profile.concentration }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-text qa mb-2">
                        <div class="question profile-q1">{{ profile['q1']}}</div>
                        <div class="answer profile-a1">{{ profile['a1']}}</div>
                    </div>
                    <div class="card-text qa mb-2">
                        <div class="question profile-q2">{{ profile['q2']}}</div>
                        <div class="answer profile-a2">{{ profile['a2']}}</div>
                    </div>
                    <div class="card-text qa mb-2">
                        <div class="question profile-q3">{{ profile['q3']}}</div>
                        <div class="answer profile-a3">{{ profile['a3']}}</div>
                    </div>
                    <div class="card-footer footer-points">
                        <span class="profile-points">{{ profile['points'] }} Points</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 p-4 text-left">
        <div class="card form-card">
            <div class="card-body">
                <form action="/profile" method="post" enctype="multipart/form-data">
                    <h5>Name</h5>
                    <div class="form-group">
                        <div class="row mb-2">
                            <div class="col">
                                <label for="name_first" class="control-label d-block mb-0 required">First name</label>
                                <input type="text" class="form-control preview-link" name="name_first"
                                    value="{{profile['name_first']}}">
                            </div>
                            <div class="col">
                                <label for="name_last" class="control-label d-block mb-0">Last name</label>
                                <input type="text" class="form-control preview-link" name="name_last"
                                    value="{{profile['name_last']}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="email" class="control-label d-block mb-0">E-mail</label>
                                <input type="text" class="form-control preview-link" name="email"
                                    value="{{profile['email']}}">
                            </div>
                        </div>
                    </div>
                    <h5>Hometown</h5>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <label for="city" class="control-label d-block mb-0">City</label>
                                <input type="text" class="form-control preview-link" name="city"
                                    value="{{profile["city"]}}">
                            </div>
                            <div class="col">
                                <label for="state" class="control-label d-block mb-0">State (if USA)</label>
                                <input type="text" class="form-control preview-link" name="state"
                                    value="{{profile["state"]}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="country" class="control-label d-block mb-0">Country</label>
                                <input type="text" class="form-control preview-link" name="country"
                                    value="{{profile["country"]}}">
                            </div>
                        </div>
                    </div>
                    <h5 class="required">Profile Picture</h5>
                    <p class="small mb-1">
                        Please upload a photo of yourself for others to recognise that meets the following guidelines
                    </p>
                    <ul class="small">
                        <li>The photo must be of you alone, <b>no group photos</b> please!</li>
                        <li>Make sure your photo is <b>high quality</b>, such that we can make out your face</li>
                        <li>
                            Only use <b>portrait</b> photos and hover on the preview after uploading to ensure
                            everything looks right
                            (longer photos leave more space for content on the back)
                        </li>
                    </ul>
                    <div class="form-group">
                        <div class="upload-btn-wrapper point">
                            <button class="btn btn-danger pointer">Upload a file</button>
                            <input type="file" name="img" class="pointer" />
                        </div>
                    </div>
                    <h5>Harvard Info</h5>
                    <div class="form-group">
                        <label for="name" class="control-label d-block mb-0 required">Year</label>
                        <select class="form-control preview-link" name="year">
                            <option val="Sophomore">Sophomore</option>
                            <option val="Junior">Junior</option>
                            <option val="Senior">Senior</option>
                            <option val="Resident Tutor">Resident Tutor</option>
                            <option val="Resident Scholar">Resident Scholar</option>
                            <option val="Non-resident Tutor">Non-Resident Tutor</option>
                            <option val="House Staff">House Staff</option>
                        </select>
                        <input id="prev_year" class="hide" value="{{ profile['year'] }}">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label d-block mb-0 required">Concentration</label>
                        <input id="prev_conc" class="hide" value="{{ profile.concentration }}">
                        <select class="form-control preview-link" name="concentration">
                            <option value='African and African American Studies'>African and African American Studies
                            </option>
                            <option value='Anthropology'>Anthropology</option>
                            <option value='Applied Mathematics'>Applied Mathematics</option>
                            <option value='Astrophysics'>Astrophysics</option>
                            <option value='Biomedical Engineering'>Biomedical Engineering</option>
                            <option value='Chemical and Physical Biology'>Chemical and Physical Biology</option>
                            <option value='Chemistry'>Chemistry</option>
                            <option value='Chemistry and Physics'>Chemistry and Physics</option>
                            <option value='Classics'>Classics</option>
                            <option value='Comparative Literature'>Comparative Literature</option>
                            <option value='Computer Science'>Computer Science</option>
                            <option value='Earth and Planetary Sciences'>Earth and Planetary Sciences</option>
                            <option value='East Asian Studies'>East Asian Studies</option>
                            <option value='Economics'>Economics</option>
                            <option value='Electrical Engineering'>Electrical Engineering</option>
                            <option value='Engineering Sciences'>Engineering Sciences</option>
                            <option value='English'>English</option>
                            <option value='Environmental Science and Engineering'>Environmental Science and Engineering
                            </option>
                            <option value='Environmental Science and Public Policy'>Environmental Science and Public
                                Policy
                            </option>
                            <option value='Folklore and Mythology'>Folklore and Mythology</option>
                            <option value='Germanic Languages and Literatures'>Germanic Languages and Literatures
                            </option>
                            <option value='Government'>Government</option>
                            <option value='History'>History</option>
                            <option value='History and Literature'>History and Literature</option>
                            <option value='History and Science'>History and Science</option>
                            <option value='Human Developmental and Regenerative Biology'>Human Developmental and
                                Regenerative
                                Biology</option>
                            <option value='Human Evolutionary Biology'>Human Evolutionary Biology</option>
                            <option value='Integrative Biology'>Integrative Biology</option>
                            <option value='Linguistics'>Linguistics</option>
                            <option value='Mathematics'>Mathematics</option>
                            <option value='Mechanical Engineering'>Mechanical Engineering</option>
                            <option value='Molecular and Cellular Biology'>Molecular and Cellular Biology</option>
                            <option value='Music'>Music</option>
                            <option value='Near Eastern Languages and Civilizations'>Near Eastern Languages and
                                Civilizations
                            </option>
                            <option value='Neuroscience'>Neuroscience</option>
                            <option value='Philosophy'>Philosophy</option>
                            <option value='Physics'>Physics</option>
                            <option value='Psychology'>Psychology</option>
                            <option value='Religion, Comparative Study of'>Religion, Comparative Study of</option>
                            <option value='Romance Languages and Literatures'>Romance Languages and Literatures</option>
                            <option value='Slavic Languages and Literatures'>Slavic Languages and Literatures</option>
                            <option value='Social Studies'>Social Studies</option>
                            <option value='Sociology'>Sociology</option>
                            <option value='South Asian Studies'>South Asian Studies</option>
                            <option value='Special Concentrations'>Special Concentrations</option>
                            <option value='Statistics'>Statistics</option>
                            <option value='Theater, Dance, and Media'>Theater, Dance, and Media</option>
                            <option value='Visual and Environmental Studies'>Visual and Environmental Studies</option>
                            <option value='Women, Gender, and Sexuality, Studies of'>Women, Gender, and Sexuality,
                                Studies of
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h6>Classes (for study groups!)</h6>
                        <input id="classes" name="classes" class="hide" value="{{ profile['classes'] }}">
                        <p class="small mb-1">
                            Add any classes for which you would like to find a study group. Your classes will only be
                            visible to others taking the same class. You can browse to the
                            <a href="/connect" class="text-danger">Connect</a> page in order to find other Matherites
                            taking the same classes!
                        </p>
                        <p class="small mb-1">
                            Please use the same subject and course codes as on <a
                                href="https://portal.my.harvard.edu/psp/hrvihprd/EMPLOYEE/EMPL/h/?tab=HU_CLASS_SEARCH"
                                target="_blank">my.harvard</a>
                        </p>
                        <ul class="list-group list-group-flush mb-2" id="unit_holder"></ul>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="input-group">
                                    <input id="new_unit_name" class="form-control" placeholder="Subject (E.g. CS)" />
                                    <input id="new_unit_code" class="form-control"
                                        placeholder="Course Code (E.g. 50)" />
                                    <div class="input-group-append">
                                        <button type="button" id="unit_add" class="btn btn-outline-danger"><i
                                                class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li id="unit_template" class="hide">
                            <div class="row no-gutters">
                                <div class="col m-auto">
                                    <i class="unit-name">UNIT NAME</i>
                                    <i class="unit-code">UNIT CODE</i>
                                </div>
                                <div class="col-2 text-right">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-danger unit-bin"><i
                                                class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <h5>Mather Info</h5>
                    <div class="form-group">
                        <label for="entryway" class="control-label d-block mb-0 required">Entryway</label>
                        <select class="form-control preview-link" name="entryway">
                            <option val='Anh'>Anh</option>
                            <option val='Nina / Soltan'>Nina / Soltan</option>
                            <option val='Harshil / Jack'>Harshil / Jack</option>
                            <option val='Alex / Antonio'>Alex / Antonio</option>
                            <option val='David Perez'>David Perez</option>
                            <option val='Addie'>Addie</option>
                            <option val='Renajd / Annie'>Renajd / Annie</option>
                            <option val='Chloe / Morgan'>Chloe / Morgan</option>
                            <option val='David / Kalila'>David / Kalila</option>
                            <option val='Naseem / Ryan'>Naseem / Ryan</option>
                            <option val='Kaitlin / Leah'>Kaitlin / Leah</option>
                            <option val='Other'>Other</option>
                        </select>
                        <input id="prev_entryway" class="hide" value="{{ profile['entryway'] }}">
                    </div>
                    <div class="qas">
                        <div id="qa1" class="form-group mb-1">
                            <label for="q1" class="control-label d-block mb-0">Fun Question 1</label>
                            <select class="form-control mb-1 preview-link question-list" name="q1">
                                <option val='No Question'>No Question</option>
                                <option selected val='If you could have any superpower, what would it be?'>If you could
                                    have any
                                    superpower, what would it be?</option>
                                <option val='Describe your perfect day in three words'>Describe your perfect day in
                                    three
                                    words</option>
                                <option val='Who is your celebrity look-alike?'>Who is your celebrity look-alike?
                                </option>
                                <option val='If you were famous, what would you be famous for?'>If you were famous, what
                                    would
                                    you be famous for?</option>
                                <option val='I would like an unlimited supply of ...'>I would like an unlimited supply
                                    of
                                    ...</option>
                                <option val='Which cartoon character would you choose to hang out with?'>Which cartoon
                                    character would you choose to hang out with?</option>
                                <option val='What is your motto for life?'>What is your motto for life?</option>
                                <option val='What new activity do you want to try?'>What new activity do you want to
                                    try?
                                </option>
                                <option val='What song title best describes your life?'>What song title best describes
                                    your
                                    life?</option>
                                <option val='If you could live anywhere, where would you live?'>If you could live
                                    anywhere,
                                    where would you live?</option>
                            </select>
                            <input class="hide question-statement" name="q1-statement">
                            <input class="form-control preview-link answer" name="a1">
                            <label for="a1" class="control-label d-block mb-0 text-right">Characters Remaining: <span
                                    class="chars">40</span></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">Submit changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="profile_pic_modal" tabindex="-1" role="dialog" aria-labelledby="profile_pic_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profile_pic_modalLabel">Change Profile Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Change details here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}