{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block main %}

<br />
{% if not faces[0] %}
<p class="highlight">Nothing to review. You have either not played any rounds or you have a perfect score.</p>
{% endif %}

{% if faces[0] %}
<h5 style="text-align:left">Review the following names. These are names you guessed incorrectly on your last try.</h5>

<br />
<table class="table">
<tbody>
{% for face in faces %}
    <tr style="border-bottom:1px">
        <td width="300"><img src="static/images/{{face['img']}}" width="300"></td>
        <td>
            <p id="name_first">
                <strong>First name:</strong><br />
                <span class="highlight">{{face['name_first']}}</span>
            </p>
            <p id="name_last">
                <strong>Last name:</strong><br />
                {{face['name_last']}}
            </p>
            <p id="hometown">
                <strong>Hometown:</strong><br />
                {{face['hometown']}}
            </p>
            <p id="year">
                <strong>Year:</strong><br />
                {{face['year']}}
            </p>
            <p id="concentration">
                <strong>Concentration:</strong><br />
                {{face['concentration']}}
            </p>
            <p id="fun_fact">
                <strong>Fun Fact:</strong><br />
                {{face['funfact']}}
            </p>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endif %}


{% endblock %}
