{% extends "layout.html" %}

{% block title %}
Review
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="../static/css/review.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.2/shuffle.min.js"></script>
<script src="../static/js/review.js"></script>
{% endblock %}

{% block main %}
<div class="row mx-2 mt-2 mb-0">
    <div class="col">
        <div class="announcement">
            In your last round you got {{ stats.correct }} names correct and {{ stats.incorrect }} wrong, which means
            you gained {{ stats.points }} points, well done! Hover over the faces below to review your answers.
        </div>
    </div>
</div>
<div class="row grid m-2">
    {% for user in latest %}
    <div class="col-3 mb-2 mt-2 picture-item">
        <div class="card result-card" data-correct="{{ user.correct }}" data-name="{{ user.name_first }}"
            data-guess="{{ user.guess }}">
            <div class="card-img-top">
                <img src="../static/images/{{ user.img }}">
            </div>
            <div class="row overlay h-100 align-items-center text-center m-auto">
                <div class="col">
                    <div class="card-text guessed-name text-primary hide">
                        NAME
                        <hr>
                    </div>
                    <div class="card-text correct-name text-success">
                        NAME
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}